[Unit]
Description=GPIO PWM cooler control service
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/gpio_pwm_cooler
RemainAfterExit = yes
TimeoutStartSec = 30

[Install]
WantedBy=default.target 
